
/*Setting of font family for all text*/
* {
	font-family: 'Macondo', cursive;
}

/*Setting of background color for pages*/
body {
	background-color: #FFCC99;
}

/*setting font size of all paragraphs on pages*/
p { 			
	font-size: 1.5em;
}

/*setting background image for header*/
#topDiv {
	background-image: url("https://images-na.ssl-images-amazon.com/images/I/71irBn5jStL._SL1000_.jpg");
}

/*setting color and font-size for header text*/
#title {
	color: #B99E86;
	font-size: 5em;
}

/*centering carousel*/
#gallery {
	float: right;

	position: relative;
	left: -50%;
	text-align: left;
	
}


/*tweaks to navbar title and headers*/
#nav2 {
	margin-bottom: 0px;
	font-size: 2.5em;
}

#nav1 {
	font-size: 1.2em;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: white;
  background-color: black;
}
